//- Route53/index.pug
-
    var tmpl = {
        "title": "EC2 Instance Details",
        "active": "ec2-instances"
    }

doctype html
html
    head
        include ../_components/header.pug
    body.ec2-instances
        include ../_components/main-navigation.pug

        <div class="container">
            <h1>EC2 Instance Details</h1>
            <table id="ec2-instance-table" class="table table-striped table--sortable">
            </table>
            <div id="loading" class="loading">
                <img src="/static/img/ripple.svg" class="loading__icon">
            </div>
        </div>

        include ../_components/footer.pug