//- components/header.pug
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>#{ undefined !== tmpl && tmpl.hasOwnProperty('title') ? tmpl.title + ' | ' : '' } AWS Environments</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap-flatly.min.css" media="all" rel="stylesheet">
    <link href="/static/css/wrappixel/style.css" media="all" rel="stylesheet">
    <link href="/static/css/theme.css" media="all" rel="stylesheet">
</head>
