//- Route53/index.pug
-
    var tmpl = {
        "title": "API Listing",
        "active": "api-listing"
    }

doctype html
html
    head
        include ../_components/header.pug
    body.api-listing
        include ../_components/main-navigation.pug

        <div class="aws-environments">

            <div id="container" class="container">

                <h1>API Listing</h1>

                <form name="apiEnvironments" id="api-environments" autocomplete="false">
                    <input type="text" name="station" value="" id="station" class="branch-name" placeholder="station code (e.g. abc)" autofocus>
                    <div id="jump-links" class="jump-links">
                        <span>Jump To:</span>
                        <a href="#podcasts-catchup">Catchup</a>
                        <a href="#podcasts-search">Podcasts/Search</a>
                        <a href="#schedules">Schedules</a>
                        <a href="#now-playing">Now Playing</a>
                    </div>
                </form>

                <div id="environment-urls" class="environment-urls"></div>

            </div>

        </div>

        include ../_components/footer.pug
